

/*FONT-FAMILY*/
$default-font: 'MTSSans-Regular', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 18px;

/*BACKGROUND*/
$default-site-bg: #fff;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #333333;

$alternate-color: #E30613;
